* {
    box-sizing: border-box;
}

body {
    background-image: url(../media/background2.jpg);
    background-size: cover;
}

.wrapper {
    width: 960px;
    margin: auto;
}

div.logo {
    opacity: .5;
}

div.logo:hover {
    opacity: 1.0;
}

.logo>img {
    width: 100px;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0%);
   
}

img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}


a {
    width: 18%;
}

li a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5% 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
}

a.left {
    float: left;
}

a.right {
    float: right;
}


a:hover {
    color: rgb(255, 123, 0);
    font-weight: bold;
}

.foot {
    width: 960px;
}

.arrow>img {
    top: 92%;
    left: 50%;
    width: 50px; 
    opacity: .5;
}

.arrow>img:hover {
    opacity: 1.0;
}

.foot>p {
    color: white;
    position: fixed;
    width: 100%;
    left: 50%;
    text-align: center;
    top: 83%;
    font-style: oblique;
    transform: translate(-50%, 0%);
    opacity: .5;
}

.foot>p:hover {
    opacity: 1.0;
}
